body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
}

.sidebar button,
.sidebar del,
.sidebar input,
.sidebar li,
.sidebar p,
.sidebar select {
  font-size: 14px;
  line-height: 14px;
}

.sidebar button {
  text-transform: uppercase;
}

.sidebar label {
  font-size: 14px;
  margin-left: 1em;
}

.sidebar-pane {
  padding: 10px;
}

.sidebar-pane .container-fluid {
  padding: 0;
}

.sidebar-pane .row {
  margin-top: 3em;
}

.sidebar-tabs,
.sidebar-tabs > ul {
  list-style-type: none;
}

.card-header button {
  margin-bottom: 0;
}

.card-header h2 {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
}

.card-body form {
  margin-bottom: 0;
}

.card-body h3 {
  font-size: 18px;
  line-height: 18px;
}

.credits {
  text-align: left;
}

.credits > h2, .credits > p {
  text-align: center;
}

.credits > ul {
  padding-inline-start: 20px;
  padding-inline-end: 10px;
}

.credits li {
  padding-block-start: 3px;
  padding-block-end: 3px;
}

.leaflet-grab {
  cursor: crosshair;
}

#root .leaflet-container {
  height: 100vh;
  position: relative;
  width: 100vw;
}
